body {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white
}
head {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white
}
/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: grey;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: black;
}
/* text alignment */
h1{
    text-align: center;
}
p{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:201px; height:201px;
}