body {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white
}
head {
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-color: white
}
/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: grey;
}
/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: black;
}
/* text alignment */
h1{
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:201px; height:201px;
}
.iframe { 
    width: 25%; /* It should not be 100% */ 
    height: 500px; 
    display: block;
    margin-left: auto;   /* Automatic margin from left */ 
    margin-right: auto; /* Automatic margin from right */ 
   }